body{
    background-color: antiquewhite;
}
.container{
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 20px;

}
.para{
    padding: 1rem;
    background-color:steelblue;
    color: white;
   
}